/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

.title-main.is-primary-dark {
  color: $primary-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 500;
}

h1 {
  font-size: 60px;
}

h2 {
  margin-bottom: 14px;
  font-size: 25px;
  color: $primary-dark;
}

.h2_green {
  margin-bottom: 14px;
  font-size: 25px;
  font-weight: 500;
  color: $primary;
}

h2.features {
  margin-bottom: 15px;
  padding-top: 15px;
  font-size: 25px;
  color: $primary-dark;
  text-align: center;
}

h3 {
  margin-bottom: 12px;
  font-size: 20px;
  color: $primary;

  &.is-software {
    margin-bottom: 4px;
    font-size: 20px;
    color: $primary-dark;
    align-content: center;
  }

}

h4 {
  margin-bottom: 9px;
  font-size: 18px;
  color: $primary-dark;
}

h5 {
  margin-bottom: 10px;
  font-size: 14px;
  color: $gray;
  text-transform: uppercase;
}

h6 {
  margin-bottom: 10px;
  font-size: 20px;
  color: $white;
}

p {
  margin-bottom: $body-line-height + em;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom: 0;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

img.feature-icons {
  vertical-align: middle;
  max-width: 30px;
  height: auto;
  float: left;
  margin-right: -100%;
}

@media (max-width: 1023px) {
  img.feature-icons {
    vertical-align: middle;
    max-width: 40px;
    height: auto;
    float: none;
    align-items: center;
    margin-right: 0;
    padding-bottom: 10px;
  }

}
pre {
  display: block;
  border-radius: 10px;
  background: #282828;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: $white;
}

.code {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  background: #ededed;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  line-height: 1;
}

@media (max-width: 767px) {
  .code {
    font-size: 17px;
  }
}

.feature-title {
  align-content: center;
}